dist/

extra-hooks/__pycache__/

TensorRT-8.4.2.4/bin/
TensorRT-8.4.2.4/data/
TensorRT-8.4.2.4/doc/
TensorRT-8.4.2.4/include/
TensorRT-8.4.2.4/lib/
TensorRT-8.4.2.4/python/
TensorRT-8.4.2.4/samples/
TensorRT-8.4.2.4/graphsurgeon/
TensorRT-8.4.2.4/onnx_graphsurgeon/
TensorRT-8.4.2.4/uff/

cudnn-windows-x86_64-8.4.1.50_cuda11.6/bin/
cudnn-windows-x86_64-8.4.1.50_cuda11.6/include/
cudnn-windows-x86_64-8.4.1.50_cuda11.6/lib/
cudnn-windows-x86_64-8.4.1.50_cuda11.6/LICENSE
