[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = none

# CS8625: Cannot convert null literal to non-nullable reference type.
dotnet_diagnostic.CS8625.severity = none
