cudnn-windows-x86_64-8.4.1.50_cuda11.6/bin/
cudnn-windows-x86_64-8.4.1.50_cuda11.6/include/
cudnn-windows-x86_64-8.4.1.50_cuda11.6/lib/
cudnn-windows-x86_64-8.4.1.50_cuda11.6/LICENSE

NVIDIA GPU Computing Toolkit_CUDA_v11.4/bin/
NVIDIA GPU Computing Toolkit_CUDA_v11.4/compute-sanitizer/
NVIDIA GPU Computing Toolkit_CUDA_v11.4/extras/
NVIDIA GPU Computing Toolkit_CUDA_v11.4/include/
NVIDIA GPU Computing Toolkit_CUDA_v11.4/lib/
NVIDIA GPU Computing Toolkit_CUDA_v11.4/libnvvp/
NVIDIA GPU Computing Toolkit_CUDA_v11.4/nvml/
NVIDIA GPU Computing Toolkit_CUDA_v11.4/nvvm/
NVIDIA GPU Computing Toolkit_CUDA_v11.4/nvvm-prev/
NVIDIA GPU Computing Toolkit_CUDA_v11.4/src/
NVIDIA GPU Computing Toolkit_CUDA_v11.4/tools/
NVIDIA GPU Computing Toolkit_CUDA_v11.4/CUDA_Toolkit_Release_Notes.txt
NVIDIA GPU Computing Toolkit_CUDA_v11.4/DOCS
NVIDIA GPU Computing Toolkit_CUDA_v11.4/EULA.txt
NVIDIA GPU Computing Toolkit_CUDA_v11.4/README

TensorRT-8.4.2.4/bin/
TensorRT-8.4.2.4/data/
TensorRT-8.4.2.4/doc/
TensorRT-8.4.2.4/include/
TensorRT-8.4.2.4/lib/
TensorRT-8.4.2.4/python/
TensorRT-8.4.2.4/samples/
TensorRT-8.4.2.4/graphsurgeon/
TensorRT-8.4.2.4/onnx_graphsurgeon/
TensorRT-8.4.2.4/uff/
